.message-success {
    background: #d1e7dd;
    padding: 10px 55px;
    border: 2px solid #badbcc;
}

.message-error ul {
    margin: 0;
    font-weight: bold;
}

.message-content {
    font-weight: bold;
    font-size: 20px;
    color: #0f5132;
}

.content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.todo-content__title {
    font-size: 23px;
    width: 70%;
    margin: 0 auto;
}

.form-content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form-content__item {
    width: 70%;
    display: flex;
}

.form-content__item-input {
    width: 70%;
    height: 40px;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
}

.form-content__item-select {
    width: 30%;
    height: 40px;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 10px;
    appearance: none;
}

.button {
    width: 20%;
}

.form-submit {
    padding: 7px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    background: #000;
    cursor: pointer;
    border: none;
    height: 40px;
}

.form-search {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form-search__item {
    width: 70%;
    display: flex;
}

.form-search__item-input {
    width: 70%;
    height: 40px;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
}

.form-search__item-select {
    width: 30%;
    height: 40px;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 10px;
    appearance: none;
}

.todo-table {
    margin: 30px auto;
    width: 70%;
    text-align: center;
}

.todo-table__inner {
    width: 100%;
}

.todo-table__row {
    border: none;
}

.todo-table__header {
    padding: 11px;
    width: 30%;
    text-align: left;
    font-weight: bold;
    color: #000;
    font-size: 25px;
}

.todo-table__header-span {
    margin-right: 30%;
}

.todo-table__item:first-of-type {
    padding: 10px;
    width: 90%;
}

.update-form {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.update-form__item {
    width: 40%;
    line-height: 50%;
}

.update-form__item-input {
    width: 100%;
    border: 2px solid #000;
    border-radius: 5px;
    text-align: center;
    outline: none;
}

.update-form__item-p {
    font-size: 13px;
    text-align: left;
}

.update-form__button {
    width: 50px;
}

.update-form__button-submit {
    width: 100%;
    background: #0000ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.delete-form__button {
    width: 50px;
}

.delete-form__button-submit {
    background: #ff0000;
    color: #fff;
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    text-align: center;
}
